<!DOCTYPE html> {{ partial "lang.html" . }}

<head>
    {{ partial "head.html" . }}
</head>

<body>
    <div class="wrapper">

        {{ partial "sidebar.html" . }}

        <div class="main-wrapper">

            {{ if .Site.Params.summary.enable }} {{ partial "summary.html" . }} {{ end }}
            <div class="hidden"></div>
            {{ if and (.Site.Params.skills.enable) (.Site.Params.skills.showInMain) }} {{ partial "skills.html" (dict "context" . "parent" "main") }} {{ end }}
            <div class="hidden"></div> {{ if .Site.Params.experiences.enable }} {{ partial "experiences.html" . }} {{ end }} {{ if .Site.Params.projects.enable }} {{ partial "projects.html" . }} {{ end }}

        </div>
        <!--//main-body-->
    </div>

    {{ partial "footer.html" . }}
    <!--Scripts added at the end of document-->
    {{ partial "scripts.html" . }}
</body>

</html>