<div class="sidebar-wrapper">

    {{ partial "profile.html" . }} {{ if .IsTranslated }} {{ partial "translate.html" . }} {{ end }}

    <br class="d-none" /> {{ if .Site.Params.contact.enable }} {{ partial "contact.html" . }} {{ end }}
    <br/> {{ if .Site.Params.education.enable }} {{ partial "education.html" . }} {{ end }}
    <br/>{{ if .Site.Params.language.enable }} {{ partial "language.html" . }} {{ end }}
    <br/> {{ if .Site.Params.interests.enable }} {{ partial "interests.html" . }} {{ end }}

</div>
<!--//sidebar-wrapper-->